.chat-list {
  flex: 1;
  overflow-y: scroll;

  .search {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;

    .searchBar {
      flex: 1;
      background-color: rgba(29, 31, 46, .5);
      display: flex;
      align-items: center;
      gap: 20px;
      border-radius: 10px;
      padding: 10px;

      input {
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        flex: 1;

      }

      img {
        width: 20px;
        height: 20px;
      }
    }

    .add {
      width: 36px;
      height: 36px;
      background-color: rgba(29, 31, 46, .5);
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: rgba(29, 31, 46, .7);
      }

    }
  }

  .item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #dddddd35;

    &:hover {
      background-color: rgba(29, 31, 46, .3);
    }
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .texts {
    display: flex;
    flex-direction: column;
    gap: 10px;

    span {
      font-weight: 500;
    }

    p {
      font-size: 14px;
      font-weight: 300;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(29, 31, 46);
    border-radius: 12px;
  }

  &::-webkit-scrollbar {
    background-color: rgba(29, 31, 31, 0.5);
    border-radius: 12px;
    width: 6px;
  }
}